<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/common :: head('CREATE POST')"> </head>
  <body id="body-pd">
    <!-- Navigation-->
    <nav
      class="navbar navbar-expand-lg navbar-light"
      id="mainNav"
      th:replace="fragments/common :: menu('POST')"
    ></nav>
    <!-- Page Header-->
    <header class="masthead">
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="page-heading">
              <h1>Create Post</h1>
              <span class="subheading"
                >add posts for your blog (☞ﾟヮﾟ)☞ ☜(ﾟヮﾟ☜)</span
              >
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Main Content-->
    <main class="mb-4">
      <div class="container px-4 px-lg-5">
        <!-- inner nav -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <div class="navbar-brand" href="#">🐉</div>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdown__category"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Categories
                  </a>
                  <ul
                    class="dropdown-menu"
                    id="dropdown-menu__category"
                    aria-labelledby="navbarDropdown"
                  >
                    <li><span class="dropdown-item">Back-end</span></li>
                    <li><span class="dropdown-item">Front-end</span></li>
                    <li><span class="dropdown-item">Mobile</span></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdown__sort"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Sort by
                  </a>
                  <ul
                    class="dropdown-menu"
                    id="dropdown-menu__sort"
                    aria-labelledby="navbarDropdown"
                  >
                    <li><span class="dropdown-item">2022</span></li>
                    <li><span class="dropdown-item">2021</span></li>
                    <li><span class="dropdown-item">2020</span></li>
                    <li><span class="dropdown-item">2019</span></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="justify-content-center">
          <form
            id="form"
            action="#"
            th:action="@{/post/form}"
            th:object="${post}"
            method="post"
          >
            <input type="hidden" th:field="*{id}" />
            <input
              id="dropdown-category"
              type="hidden"
              th:field="*{category}"
              th:classappend="${#fields.hasErrors('category')} ? 'is-invalid'"
            />
            <input
              id="dropdown-year"
              type="hidden"
              th:field="*{year}"
              th:classappend="${#fields.hasErrors('year')} ? 'is-invalid'"
            />
            <textarea
              class="no-visibility"
              id="exampleFormControlTextarea1"
              th:field="*{content}"
              th:classappend="${#fields.hasErrors('content')} ? 'is-invalid'"
            ></textarea>
            <div id="editor" class="markdownEditor"></div>
            <div
              class="invalid-feedback"
              th:if="${#fields.hasErrors('content')}"
              th:errors="*{content}"
            ></div>
            <div
              class="invalid-feedback"
              th:if="${#fields.hasErrors('category')}"
              th:errors="*{category}"
            ></div>
            <div
              class="invalid-feedback"
              th:if="${#fields.hasErrors('year')}"
              th:errors="*{year}"
            ></div>
            <!-- Divider-->
            <hr class="my-4 input__post-head" />

            <label for="exampleFormControlInput1" class="form-label"
              >Title</label
            >
            <input
              type="text"
              class="form-control"
              id="exampleFormControlInput1"
              th:field="*{title}"
              th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'"
            />
            <div
              class="invalid-feedback"
              th:if="${#fields.hasErrors('title')}"
              th:errors="*{title}"
            ></div>
            <label for="exampleFormControlInput2" class="form-label"
              >Subtitle</label
            >
            <input
              type="text"
              class="form-control"
              id="exampleFormControlInput2"
              th:field="*{subtitle}"
              th:classappend="${#fields.hasErrors('subtitle')} ? 'is-invalid'"
            />
            <div
              class="invalid-feedback"
              th:if="${#fields.hasErrors('subtitle')}"
              th:errors="*{subtitle}"
            ></div>
            <div class="text-right footer-btn">
              <button id="submitBtn" class="btn btn-primary text-uppercase">
                OK
              </button>
              <a
                th:href="@{/}"
                type="button"
                class="btn btn btn-danger text-uppercase"
                >CANCEL</a
              >
            </div>
          </form>
        </div>
      </div>
    </main>
    <!-- Footer-->
    <footer class="border-top" th:replace="fragments/common :: footer"></footer>
    <!-- Scripts-->
    <div th:replace="fragments/common :: scripts('CREATE POST')"></div>
  </body>
</html>
