<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/common :: head('POST')"> </head>
  <body id="body-pd">
    <!-- Navigation-->
    <nav
      class="navbar navbar-expand-lg navbar-light"
      id="mainNav"
      th:replace="fragments/common :: menu('POST')"
    ></nav>
    <!-- Page Header-->
    <header class="masthead" style="background-color: white">
      <div class="container position-relative px-4 px-lg-5">
        <div class="justify-content-center">
          <div class="post-heading">
            <h1 th:text="${post.title}">
              Man must explore, and this is exploration at its greatest
            </h1>
            <h2 class="subheading" th:text="${post.subtitle}">
              Problems look mighty small from 150 miles up
            </h2>
            <span class="meta" th:text="${post.user.username}">
              Posted by Start Bootstrap on August 24, 2021
            </span>
          </div>
        </div>
        <div class="d-flex justify-content-end mb-4">
          <button
            type="button"
            id="love_btn"
            class="btn btn-danger btn-accordion"
            th:onclick="|loveTogglePost(${post.id})|"
            sec:authorize="isAuthenticated()"
          >
            <span th:text="${love}">LOVE</span>
          </button>
        </div>
      </div>
    </header>

    <!-- Post Content-->
    <article class="mb-4">
      <div class="container px-4 px-lg-5">
        <div class="justify-content-center" th:utext="${post.content}"></div>
        <div class="d-flex justify-content-end mb-4">
          <a
            class="btn btn-primary text-uppercase footer-btn"
            href="#!"
            th:href="@{/post/form(id=${post.id})}"
            th:if="${isOwner}"
            >EDIT</a
          >
          <button
            type="button"
            sec:authorize="hasRole('ROLE_ADMIN')"
            th:onclick="|deletePost(${post.id})|"
            class="btn btn-danger text-uppercase footer-btn"
          >
            DELETE
          </button>
          <a
            th:href="@{${referer}}"
            type="button"
            class="btn btn-secondary text-uppercase footer-btn"
            >BACK</a
          >
        </div>
      </div>
    </article>
    <!-- Footer-->
    <footer class="border-top" th:replace="fragments/common :: footer"></footer>
    <!-- Scripts-->
    <div th:replace="fragments/common :: scripts('POST')"></div>
    <!-- delete post button -->
    <script>
      //DELETE /api/post/{id}
      function deletePost(id) {
        $.ajax({
          url: "/api/post/" + id,
          type: "DELETE",
          beforeSend: function (jqXHR, settings) {
            var header = $("meta[name='_csrf_header']").attr("content");
            var token = $("meta[name='_csrf']").attr("content");
            jqXHR.setRequestHeader(header, token);
          },
          success: function (result) {
            window.location.href = "/post/list";
          },
        });
      }

      //PUT /api/post/love/{id}
      function loveTogglePost(id) {
        const loveBtn = document.querySelector("#love_btn");
        if (loveBtn.firstElementChild.innerHTML == "LOVE") {
          $.ajax({
            url: "/api/post/love/" + id,
            type: "PUT",
            beforeSend: function (jqXHR, settings) {
              var header = $("meta[name='_csrf_header']").attr("content");
              var token = $("meta[name='_csrf']").attr("content");
              jqXHR.setRequestHeader(header, token);
            },
            success: function (result) {
              loveBtn.firstElementChild.innerHTML = "UNLOVE";
            },
          });
        } //PUT /api/post/unlove/{id}
        else if (loveBtn.firstElementChild.innerHTML == "UNLOVE") {
          $.ajax({
            url: "/api/post/unlove/" + id,
            type: "PUT",
            beforeSend: function (jqXHR, settings) {
              var header = $("meta[name='_csrf_header']").attr("content");
              var token = $("meta[name='_csrf']").attr("content");
              jqXHR.setRequestHeader(header, token);
            },
            success: function (result) {
              loveBtn.firstElementChild.innerHTML = "LOVE";
            },
          });
        }
      }
    </script>
  </body>
</html>
