<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/common :: head('CREATE COMMENT')"> </head>
  <body id="body-pd">
    <!-- Navigation-->
    <nav
      class="navbar navbar-expand-lg navbar-light"
      id="mainNav"
      th:replace="fragments/common :: menu('GUEST BOOK')"
    ></nav>
    <!-- Page Header-->
    <header class="masthead">
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="page-heading">
              <h1>Create Comments</h1>
              <span class="subheading">Leave a comment for me (❁´◡`❁)</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Main Content-->
    <main class="mb-4">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <form
              action="#"
              th:action="@{/guest/form}"
              th:object="${guestBook}"
              method="POST"
            >
              <input type="hidden" th:field="*{id}" />
              <div class="mb-3">
                <label for="name" class="form-label">User Name</label>
                <div class="input-group">
                  <span class="input-group-text" id="basic-addon1">@</span>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    th:field="*{name}"
                    th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'"
                  />
                  <div
                    class="invalid-feedback"
                    th:if="${#fields.hasErrors('name')}"
                    th:errors="*{name}"
                  ></div>
                </div>
              </div>
              <div class="mb-3">
                <label for="content" class="form-label">Comments</label>
                <textarea
                  class="form-control"
                  id="content"
                  rows="3"
                  th:field="*{content}"
                  th:classappend="${#fields.hasErrors('content')} ? 'is-invalid'"
                ></textarea>
                <div
                  class="invalid-feedback"
                  th:if="${#fields.hasErrors('content')}"
                  th:errors="*{content}"
                ></div>
              </div>
              <div class="text-right">
                <button type="submit" class="btn btn-primary text-uppercase">
                  OK
                </button>
                <a
                  th:href="@{/guest}"
                  type="button"
                  class="btn btn btn-danger text-uppercase"
                  >CANCEL</a
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    <!-- Footer-->
    <footer class="border-top" th:replace="fragments/common :: footer"></footer>
    <!-- Scripts-->
    <div th:replace="fragments/common :: scripts('CREATE COMMENT')"></div>
  </body>
</html>
