<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/common :: head('GUEST BOOK')"> </head>
  <body id="body-pd">
    <!-- Navigation-->
    <nav
      class="navbar navbar-expand-lg navbar-light"
      id="mainNav"
      th:replace="fragments/common :: menu('GUEST')"
    ></nav>
    <!-- Page Header-->
    <header class="masthead">
      <div class="container position-relative px-4 px-lg-5">
        <div class="justify-content-center">
          <div class="post-heading">
            <h1>Guest Book</h1>
            <h2 class="subheading">
              leave your comments whatever you want ༼ つ ◕ ◡ ◕ ༽つ
            </h2>
            <span class="meta">
              Posted by Start Bootstrap on August 24, 2021
            </span>
            <a
              type="button"
              class="btn btn-primary footer-btn"
              th:href="@{/guest/form}"
            >
              WRITE
            </a>
          </div>
        </div>
      </div>
    </header>
    <!-- Comments-->
    <div class="container px-4 px-lg-5 comments-box">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item" th:each="mention : ${mentions}">
          <h2
            class="accordion-header"
            id="flush-headingOne"
            th:id="|accordion-heading${mention.id}|"
          >
            <a
              class="list-group-item list-group-item-action d-flex gap-3 py-3 accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              th:data-bs-target="|#accordion-collapse${mention.id}|"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
              th:aria-controls="|accordion-collapse${mention.id}|"
              aria-current="true"
            >
              <img
                src="https://github.com/twbs.png"
                alt="twbs"
                width="32"
                height="32"
                class="rounded-circle flex-shrink-0"
              />
              <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                  <h5 class="mb-0" th:text="|@${mention.user.username}|">
                    @guestname
                  </h5>
                  <h6 class="mb-0 comments" th:text="${mention.content}">
                    comments from my dear friend (*/ω＼*)
                  </h6>
                </div>
                <small class="opacity-50 text-nowrap" th:text="${mention.time}"
                  >time</small
                >
              </div>
            </a>
          </h2>
          <div
            id="flush-collapseOne"
            th:id="|accordion-collapse${mention.id}|"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingOne"
            th:aria-labelledby="|accordion-heading${mention.id}|"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body list-group-item">
              <span sec:authorize="!isAuthenticated()"
                >If you wanna send LOVE to this comment,
                <a th:href="@{/account/login}">LOGIN!</a></span
              >
              <button
                type="button"
                th:id="|love_btn${mention.id}|"
                class="btn btn-danger btn-accordion"
                th:onclick="|loveToggleComment(${mention.id})|"
                sec:authorize="isAuthenticated()"
              >
                <span
                  th:text="${#lists.contains(user.guestBooksLoved, mention)} ? 'UNLOVE' : 'LOVE'"
                ></span>
              </button>
              <a
                th:href="@{/guest/form(id=${mention.id})}"
                type="button"
                class="btn btn-primary btn-accordion"
                th:if="${mention.getUser.getId}==${user.getId}"
              >
                EDIT
              </a>
              <button
                type="button"
                class="btn btn-secondary btn-accordion"
                sec:authorize="hasRole('ROLE_ADMIN')"
                th:onclick="|deleteComment(${mention.id})|"
              >
                DELETE
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer-->
    <footer class="border-top" th:replace="fragments/common :: footer"></footer>
    <!-- Scripts-->
    <div th:replace="fragments/common :: scripts('GUEST BOOK')"></div>
    <script>
      // DELETE api/guest/{id}
      function deleteComment(id) {
        $.ajax({
          url: "/api/guest/" + id,
          type: "DELETE",
          beforeSend: function (jqXHR, settings) {
            var header = $("meta[name='_csrf_header']").attr("content");
            var token = $("meta[name='_csrf']").attr("content");
            jqXHR.setRequestHeader(header, token);
          },
          success: function (result) {
            window.location.href = "/guest";
          },
        });
      }

      //PUT /api/guest/love/{id}
      function loveToggleComment(id) {
        const loveBtn = document.querySelector("#love_btn" + id);
        if (loveBtn.firstElementChild.innerHTML == "LOVE") {
          $.ajax({
            url: "/api/guest/love/" + id,
            type: "PUT",
            beforeSend: function (jqXHR, settings) {
              var header = $("meta[name='_csrf_header']").attr("content");
              var token = $("meta[name='_csrf']").attr("content");
              jqXHR.setRequestHeader(header, token);
            },
            success: function (result) {
              loveBtn.firstElementChild.innerHTML = "UNLOVE";
            },
          });
        } //PUT /api/guest/unlove/{id}
        else if (loveBtn.firstElementChild.innerHTML == "UNLOVE") {
          $.ajax({
            url: "/api/guest/unlove/" + id,
            type: "PUT",
            beforeSend: function (jqXHR, settings) {
              var header = $("meta[name='_csrf_header']").attr("content");
              var token = $("meta[name='_csrf']").attr("content");
              jqXHR.setRequestHeader(header, token);
            },
            success: function (result) {
              loveBtn.firstElementChild.innerHTML = "LOVE";
            },
          });
        }
      }
    </script>
  </body>
</html>
