<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/common :: head('SIGN IN')"> </head>
  <body class="text-center">
    <main class="form-signin">
      <form th:action="@{/account/register}" method="post" th:object="${user}">
        <a th:href="@{/}">
          <img
            class="mb-4"
            src="https://getbootstrap.com/docs/5.1/assets/brand/bootstrap-logo.svg"
            alt=""
            width="72"
            height="57"
          />
        </a>
        <h1 class="h3 mb-3 fw-normal">Please Join 😙</h1>

        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            placeholder="User name"
            th:field="*{username}"
            th:classappend="${#fields.hasErrors('username')} ? 'is-invalid'"
          />
          <div
            class="invalid-feedback"
            th:if="${#fields.hasErrors('${user.username}')}"
            th:errors="*{username}"
          ></div>
          <label for="username">User name</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            name="password"
            placeholder="Password"
            th:field="*{password}"
            th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'"
          />
          <div
            class="invalid-feedback"
            th:if="${#fields.hasErrors('${user.password}')}"
            th:errors="*{password}"
          ></div>
          <label for="floatingPassword">Password</label>
        </div>

        <!-- <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me" /> Remember me
          </label>
        </div> -->
        <button class="w-100 btn btn-lg btn-primary footer-btn" type="submit">
          Join
        </button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
      </form>
    </main>
    <!-- Scripts-->
    <div th:replace="fragments/common :: scripts('SIGN IN')"></div>
  </body>
</html>
